<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Frontend Applicant Test</title>
  <link rel="stylesheet" href="/dist/app.css">
</head>

<body ng-controller="DataController as data">

  <!-- see updated readme for my overall comments -->

  <div class="row">
    <div class="col-left">
      <h1>Content Report</h1>
      <h2 class="channel-count">Total Channel Count: {{ data.channels }}</h2>
      <h2 class="device-count">Total Devices Count: {{ data.devices }}</h2>
    </div>

    <div class="col-right">
      <select class="select" ng-model="view">
        <option ng-repeat="(key, _value) in data.info">{{ key }}</option>
      </select>
      <!-- <select class="select" ng-model="view" ng-options="key for (key, value) in data.info track by key">
        <option value="">All</option>
      </select> -->
    </div>
  </div>

  <h1 ng-hide="!view">{{ view }}</h1>

  <div class="row">
    <div ng-repeat="(key, value) in data.info">
      <div ng-show="!view || key == view">
        <div class="col-left">
          <p>{{ key }}</p>
        </div>
        <div class="col-right">
          <p>
            <div class="channel" style="width: {{value.Channels*3}}px;">{{ value.Channels }}</div>
            <div class="device" style="width: {{value.Devices*3}}px;">{{ value.Devices }}</div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="/node_modules/angular/angular.js"></script>
  <script src="dist/app.js"></script>
</body>

</html>